// Font face goes here
// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-Black.eot');
//     src: url('../assets/fonts/butler/Butler-Black.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-Black.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-Black.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-Black.svg#Butler-Black') format('svg');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-Black.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-Black.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-Black.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-Black.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-Black.svg#ButlerStencil-Black') format('svg');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-ExtraBold.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-ExtraBold.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-ExtraBold.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-ExtraBold.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-ExtraBold.svg#ButlerStencil-ExtraBold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-Bold.eot');
//     src: url('../assets/fonts/butler/Butler-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-Bold.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-Bold.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-Bold.svg#Butler-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-ExtraBold.eot');
//     src: url('../assets/fonts/butler/Butler-ExtraBold.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-ExtraBold.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-ExtraBold.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-ExtraBold.svg#Butler-ExtraBold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-Bold.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-Bold.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-Bold.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-Bold.svg#ButlerStencil-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-Light.eot');
//     src: url('../assets/fonts/butler/Butler-Light.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-Light.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-Light.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-Light.svg#Butler-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-Light.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-Light.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-Light.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-Light.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-Light.svg#ButlerStencil-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-Medium.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-Medium.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-Medium.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-Medium.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-Medium.svg#ButlerStencil-Medium') format('svg');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-Medium.eot');
//     src: url('../assets/fonts/butler/Butler-Medium.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-Medium.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-Medium.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-Medium.svg#Butler-Medium') format('svg');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Butler';
    src: url('../assets/fonts/butler/Butler.eot');
    src: url('../assets/fonts/butler/Butler.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/butler/Butler.woff') format('woff'),
        url('../assets/fonts/butler/Butler.ttf') format('truetype'),
        url('../assets/fonts/butler/Butler.svg#Butler') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil.eot');
//     src: url('../assets/fonts/butler/ButlerStencil.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil.svg#ButlerStencil') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler';
//     src: url('../assets/fonts/butler/Butler-UltraLight.eot');
//     src: url('../assets/fonts/butler/Butler-UltraLight.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/Butler-UltraLight.woff') format('woff'),
//         url('../assets/fonts/butler/Butler-UltraLight.ttf') format('truetype'),
//         url('../assets/fonts/butler/Butler-UltraLight.svg#Butler-UltraLight') format('svg');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Butler Stencil';
//     src: url('../assets/fonts/butler/ButlerStencil-UltraLight.eot');
//     src: url('../assets/fonts/butler/ButlerStencil-UltraLight.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/butler/ButlerStencil-UltraLight.woff') format('woff'),
//         url('../assets/fonts/butler/ButlerStencil-UltraLight.ttf') format('truetype'),
//         url('../assets/fonts/butler/ButlerStencil-UltraLight.svg#ButlerStencil-UltraLight') format('svg');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// Century Gothic std
// @font-face {
//     font-family: 'Century Gothic Std';
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Bold.eot');
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Bold.woff') format('woff'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Bold.ttf') format('truetype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Bold.svg#CenturyGothicStd-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Century Gothic Std';
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Italic.eot');
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Italic.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Italic.woff') format('woff'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Italic.ttf') format('truetype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-Italic.svg#CenturyGothicStd-Italic') format('svg');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

@font-face {
    font-family: 'Century Gothic Std';
    src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd.eot');
    src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Century-gothic-std/CenturyGothicStd.woff') format('woff'),
        url('../assets/fonts/Century-gothic-std/CenturyGothicStd.ttf') format('truetype'),
        url('../assets/fonts/Century-gothic-std/CenturyGothicStd.svg#CenturyGothicStd') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Century Gothic Std';
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-BoldItalic.eot');
//     src: url('../assets/fonts/Century-gothic-std/CenturyGothicStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-BoldItalic.woff') format('woff'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-BoldItalic.ttf') format('truetype'),
//         url('../assets/fonts/Century-gothic-std/CenturyGothicStd-BoldItalic.svg#CenturyGothicStd-BoldItalic') format('svg');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }