.pagination {
  margin-bottom: 0;
  margin-top: 3rem;
  .page-item {
    border-bottom: 1px solid transparent;
    &.active {
      border-bottom-color: $orange1;
    }
    .page-link {
      background-color: transparent;
      color: $white;
      opacity: 90%;
      border: 0;
      @include rfs(24px);
      font-family: "Butler", serif;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
    }
  }
}
