@import "../variable";
@import "../mixin";
@import "../rfs";

.home {
  .header {
  }
  .decor__2showcase {
    padding-left: 0;
    padding-right: 0;
    padding-top: toRem(120);
    padding-bottom: toRem(120);
    background-color: $black_2;
    &__contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
    .row:nth-child(even) {
      margin-top: calc(-40rem / 2);
      // transform: translateY(-50%);
      align-items: flex-end;
      .d-flex {
        align-items: flex-end;
      }
    }
    &__img {
      width: 100%;
      // max-height: 620px;
      max-width: 480px;
    }
    &__para {
      // font-size: 24px;
      @include font-size(24px);
      font-family: "Butler", serif;
      line-height: 34px;
      &.ml {
        margin-left: 60px;
      }
      &.mr {
        margin-right: 60px;
        margin-bottom: 0;
      }
    }
  }
  .decor__works {
    background-image: url("/assets/jpg/desktop/home/project_bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: toRem(120);
    padding-bottom: toRem(120);
    .featured__work {
      margin-bottom: toRem(60);
    }
    .grad-heading {
      margin-bottom: toRem(60);
    }
  }
  .instagram__section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    &__title-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .grad-heading {
        margin-bottom: 40px;
      }
      .para {
        @include font-size(24px);
        font-family: "Butler", serif;
        opacity: 90%;
      }
    }
    &__contain {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 60px;
      padding-bottom: 60px;
      &__img {
        display: flex;
        flex-direction: column;
        &:nth-child(2) {
          margin-top: 70px;
        }
        &:nth-child(1),
        &:last-child {
          margin-top: 140px;
        }
      }
    }
    &__cta {
      display: flex;
      justify-content: center;
      .link {
        @include rfs(20px);
        font-family: "Century Gothic STD", sans-serif;
        font-style: italic;
        // color: $orange1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -o-background-clip: text;
        -o-text-fill-color: transparent;
        color: transparent;
        margin-left: toRem(120);
        margin-top: toRem(50);
        display: flex;
        align-items: center;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, $orange1 50%, $orange2 50%);
        transition: background-position 1s;
        &:hover {
          background-position: -100% 0;
        }
        &__line {
          display: inline-block;
          width: 60px;
          height: 1px;
          background-image: $gradient2;
          margin-left: toRem(12);
          opacity: 20%;
        }
      }
    }
  }
}

@include media-bp(xs) {
  .home {
    .decor__2showcase {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 25px;
      padding-right: 25px;
      .row:nth-child(even) {
        margin-top: 0;
        .decor__2showcase__img {
          margin-bottom: 0;
        }
      }
      .decor__2showcase__img {
        margin-bottom: 30px;
      }
      .d-flex {
        padding-left: 0;
        padding-right: 0;
      }
      &__para {
        order: 1;
        margin: 0 !important;
        // font-size: $mobile_body_font;
        margin-bottom: 33px !important;
      }
      &__img {
        margin-bottom: 60px;
      }
      picture {
        order: 2;
        width: 100%;
      }
    }
    .decor__works {
      padding-top: 60px;
      padding-bottom: 60px;
      &__button {
        width: 100%;
      }
      .featured__work {
        margin-bottom: 0;
        .grad-heading {
          text-align: left !important;
        }
        .figure {
          width: 100%;
        }
      }
      .woven-grid {
        &__row {
          margin-top: 0;
          .figure {
            margin-top: 40px;
            width: 100%;
          }
        }
      }
    }
    .portfolio__section {
      .content__section__contain--img {
        order: 2;
        margin-bottom: 0;
        margin-top: 40px;
      }
    }
    .instagram__section {
      &__contain {
        &__img {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
        }
      }
    }
  }
}
@include media-bp(tablet) {
  .home {
    .header {
      &__heading {
        padding-left: 50px;
        padding-right: 50px;
      }
      .grad-heading {
        padding-left: 20px;
        padding-right: 20px;
      }
      &__img-flat {
        width: 100px;
      }
      &__picture {
        .img-fluid {
          height: 100vh;
        }
      }
    }
    .decor__2showcase {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 50px;
      padding-right: 50px;
      .decor__2showcase__img {
        max-width: 100%;
      }
      .row:nth-child(even) {
        margin-top: 0;
        .decor__2showcase__img {
          margin-bottom: 0;
        }
      }
      .d-flex {
        padding-left: 0;
        padding-right: 0;
      }
      &__para {
        order: 1;
        margin: 0 !important;
        // font-size: $mobile_body_font;
        margin-bottom: 33px !important;
        padding-right: 100px;
      }
      &__img {
        margin-bottom: 60px;
      }
      picture {
        order: 2;
        width: 100%;
      }
    }
    .decor__works {
      padding-top: 60px;
      padding-bottom: 60px;
      .featured__work {
        margin-bottom: 0;
        .figure {
          width: 100%;
          max-width: 320px;
        }
      }
      .woven-grid {
        &__row {
          margin-top: 0;
          .figure {
            margin-top: 40px;
            max-width: 320px;
            &--hor {
              img {
                min-height: 320px;
              }
            }
          }
        }
      }
    }
    .portfolio__section {
      .content__section__contain--img {
        order: 2;
        margin-bottom: 0;
        margin-top: 40px;
      }
    }
    .instagram__section {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
@include media-bp(tablet_L) {
  .home {
    .header {
      .grad-heading {
        padding-left: 20px;
        padding-right: 20px;
      }
      &__img-flat {
        width: 180px;
      }
      &__picture {
        height: calc(100vh + 180px);
      }
    }
    .decor__2showcase {
      padding-left: 15px;
      padding-right: 15px;
      .decor__2showcase__img {
        max-width: 370px;
      }
      .d-flex {
        padding-left: 0;
        padding-right: 0;
      }
      .row:nth-child(even) {
        margin-top: calc(-40rem / 4);
      }
      &__para.mr {
        margin-right: auto;
        margin-left: 0 !important;
      }
    }
    .decor__works {
      padding-top: 60px;
      padding-bottom: 60px;
      .featured__work {
        margin-bottom: 0;
        .figure {
          width: 100%;
          max-width: 370px;
        }
      }
      .woven-grid {
        &__row {
          margin-top: 0;
          .figure {
            margin-top: 40px;
            max-width: 370px;
            &--hor {
              img {
                min-height: 370px;
              }
            }
          }
        }
      }
    }
    .portfolio__section {
      .content__section__contain--img {
        order: 2;
        margin-bottom: 0;
        margin-top: 40px;
      }
    }
    .instagram__section {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
