// figure scss
.figure {
  max-width: 600px;
  margin: 0 auto;
  &--hor {
    max-width: 480px;
    // & img {
    //   max-height: 600px;
    // }
  }
  & img {
    width: 100%;
  }
  &__caption {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding-top: toRem(24);
    // font-size: 24px;
    @include rfs(24px);
    font-family: "Butler", serif;
    font-weight: 300;
    line-height: 34px;
    color: $white;
    opacity: 90%;
    .location {
      // font-size: 18px;
      margin-left: auto;
      @include rfs(18px);
      font-style: italic;
    }
    .word {
      flex-grow: 0;
      flex-shrink: 0;
    }
    .whitespace {
      flex-grow: 0.05;
      flex-shrink: 0;
    }
  }
}

@include media-bp(xs) {
  .figure {
    &__caption {
      padding-top: 20px;
      // font-size: 20px;
      line-height: 26px;
      .location {
        // font-size: 15px;
      }
    }
  }
}
@include media-bp(tablet) {
  .figure {
    &__caption {
      padding-top: 20px;
      // font-size: 20px;
      line-height: 34px;
      .location {
        // font-size: 15px;
      }
    }
    &--hor {
      max-width: 100%;
    }
  }
}
